.container {
    max-width: 1200px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 100px;
}

.item {
    min-height: 300px;
}

.item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item-long {
    grid-row: span 4;
}

.item-big {
    grid-column: span 2;
    height: 600px;
}

.item-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content p {
    font-size: 15px;
}

.item-content h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.item-number {
    font-size: 80px;
}

.item-long {
    grid-row: span 4;
    font-size: 100px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    justify-self: start;
    height:100%;
    width: 100%;
}

.item-border {
    padding: 0 20px;
    width: 100%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-right: 20px;
    display: flex;
    align-items: end;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 20px;
    }

    .item-long {
        grid-row: unset;
        grid-column: span 3;
        writing-mode: unset;
        text-orientation: unset;
        min-height: 200px;
    }

    .item-border {
        height: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }

    .item-long {
        grid-row: unset;
        grid-column: span 2;
        writing-mode: unset;
        text-orientation: unset;
        min-height: 200px;
    }

    .item-border {
        height: 100%;
    }
}

@media (max-width: 375px) {
    .container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .item-long {
        grid-row: unset;
        grid-column: span 3;
        writing-mode: unset;
        text-orientation: unset;
        min-height: 200px;
    }

    .item-border {
        height: 100%;
    }
}